body {
  background-color: linen;
}

/*Navigation menu*/
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media (min-width: 600px){
  #content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-auto-rows: 50px;
    grid-gap: 2px;
    margin: 0 auto;
  }

  #map {
    grid-column: 1;
    grid-row: 1 / 11;
  }

  #output-text-area {
    grid-column: 1;
    grid-row: 11 / 13;
  }

  /*Only show tooltips on large screens. Else there is an ugly black bar on the left hand side*/
  .delete:hover .tooltiptext{
    visibility: visible;
  }
  
  .checkmark:hover .tooltiptext{
    visibility: visible;
  }
  
  #add-district:hover .tooltiptext{
    visibility: visible;
  }
}

@media (max-width: 600px){
  #map {height: 600px;}
  ul.topnav li.right,
  ul.topnav li {float: none;}
  h1 {text-align: center;}
}

#map {
  position: relative;
  z-index: 1;
}

.item {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas:
    "checkmark title delete";
}

#content > * {
  padding: 5px;
}

.checkmark {
  position: relative;
  grid-area: checkmark;
}

.title {
  position: relative;
  grid-area: title;
}

.delete {
  position: relative;
  grid-area: delete;
  cursor: pointer;
}

.dname {
  width: 100%;
  background-color: inherit;
  border-style: none;
  text-align: center;
}

.dname:hover {
  background-color: whitesmoke;
  border-style: inset;
  border-width: 3px;
}

#add-district {
  position: relative;
  cursor: pointer;
}

textarea {
  height: 87px;
  width: calc(100% - 5px);
  padding: 2px;
  border: none;
  resize: none;
}

#item_0 {
  background-color: #ac5c91;
}

#item_1 {
  background-color: #d5dc76;
}

#item_2 {
  background-color: #b5d29f;
}

#item_3 {
  background-color: #b383b3;
}

#item_4 {
  background-color: #71b37b;
}

#item_5 {
  background-color: #8a84a3;
}

#item_6 {
  background-color: #d09440;
}

#item_7 {
  background-color: #578e86;
}

#item_8 {
  background-color: #d56d76;
}

#item_9 {
  background-color: #4f93c0;
}

#item_10 {
  background-color: #69999f;
}

img {
  height: 40px;
  width: auto;
}

iframe {
  max-width: 100%;
}

/*The 3 items below have been entered to center the text vertically
(https://stackoverflow.com/a/45599428/5263954)*/
#map, .checkmark, .title, .delete, #add-district {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Style the query code for overpass turbo*/
code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 10px;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 2;
  top: -5px;
  right: 105%;
}