body{
  color: #fff;
  font-family: 'Nunito Semibold';
  text-align: center;
}
#content{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 10px;
  max-width: 960px;
  margin: 0 auto;
  grid-template-areas:
    "map item-1"
    "map item-2";
}

#item-1 {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas:
    "checkmark title delete";
}

#item-2 {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas:
    "checkmark title delete";
}

#content > *{
  background: #3bbced;
  padding: 30px;
}

#map{
    grid-area: map;
}
.checkmark{
    grid-area: checkmark;
}
.title{
    grid-area: title;
}
.delete{
    grid-area: delete;
}